<md-grid-list md-cols="3"
              md-gutter="8px"
              md-row-height="5:4">
  <md-grid-tile ng-repeat="courseSection in courses"
                layout="column"
                style="background-color:white;">
    <md-grid-tile-header layout="row" layout-align="space-between center" style="background-color: #5555EE;">
      <h2>{{courseSection.info.basicDisplay.name}}
	<span class="menu">
	  <md-menu aria-label="Open add course menu">
	    <md-button ng-click="$mdOpenMenu($event)" aria-label="add to prefered"><!-- class="md-icon-button">-->
	      <md-icon class=".material-icons">add_circle_outline</md-icon>
	    </md-button>
	    <md-menu-content>
	      <md-menu-item><md-button ng-click="clickAlert()">Add Preferred Course</md-button></md-menu-item>
	      <md-menu-item><md-button ng-click="clickAlert()">Add Required Course</md-button></md-menu-item>
	    </md-menu-content>
	  </md-menu>
	</span>
      </h2>
      <h3>{{courseSection.info.basicDisplay.title}}</h3>
    </md-grid-tile-header>
    <div class="tileContent"> <!--Rename this later.Make sure to change alignment-->
      {{courseSection.info.basicDisplay.description}}

    </div>
    <md-grid-tile-footer>
      <md-chips ng-model="courseSection.info.basicDisplay.mainGenEds" readonly="true" style="color: pink">
	<md-chip-template>
	  {{$chip}} <!-- replace with gen_eds once that is ready-->
	</md-chip-template>
      </md-chips> 
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>


<!--class="md-primary">-->
