<md-grid-list md-cols="3"
	      md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
              md-gutter="16px"
              md-row-height="5:4">
  <md-grid-tile ng-repeat="courseSection in courses"
                layout="column"
		class="md-whiteframe-3dp"
                style="background-color:white;padding:4px;text-overflow:hidden"
		ng-click="courseDialog(courseSection,$event)"
		
		> <!--class="md-whiteframe-3dp"-->
    <md-grid-tile-header layout="row" layout-align="space-between center" class="md-primary"><!--style="background-color: #5555EE;"-->
      <h2>{{' '+courseSection.info.basicDisplay.name}}
	<span class="menu">
	  <md-menu aria-label="Open add course menu">
	    <md-button class="md-icon-button" style="padding: 0px; margin-top: 4px;" ng-click="$mdOpenMenu($event)" aria-label="add to prefered">
	      <md-icon class="material-icons">{{icon}}</md-icon><!--Change to check when added-->
	    </md-button>
	    <md-menu-content>
	      <md-menu-item><md-button ng-click="addToSchedule(courseSection,0)">Add Preferred Course</md-button></md-menu-item>
	      <md-menu-item><md-button ng-click="addToSchedule(courseSection,1)">Add Required Course</md-button></md-menu-item>
	    </md-menu-content>
	  </md-menu>
	</span>
      </h2>
      <h3>{{courseSection.info.basicDisplay.title}}</h3>
    </md-grid-tile-header>
    <div class="tileContent" > 
      {{courseSection.info.basicDisplay.description}}

    </div>
    <md-grid-tile-footer ng-click="">
      <md-chips ng-model="courseSection.info.basicDisplay.mainGenEds" readonly="true" style="color: pink" >
	<md-chip-template ng-click="searchGenEd($chip)" >
	  {{$chip.abbreviation}} <!-- replace with gen_eds once that is ready-->
	</md-chip-template>
      </md-chips> 
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>


<!--class="md-primary">-->
