<md-content ng-controller="courseFinderController" layout-padding layout-padding-large>
  <md-chips
     ng-model="courseSearchTerms"
     md-on-append="newKeyword($chip)" <!--md-on-append-->
     md-require-match="">
    <md-autocomplete
       md-selected-item="foo"
       md-search-text="queryText"
       md-items="item in autocompleteQuery(queryText)"
       md-item-text="item.display"
       placeholder="Search by department, course, gen ed or keyword!"
       md-autoselect="true"
       md-no-cache>
      <md-item-template>
        <span>{{item.data.name}}</span>
        <span ng-if="item.data.title">- {{item.data.title}}</span>
        <span>({{item.display | uppercase}})</span>
      </md-item-template>
    </md-autocomplete>
    <md-chip-template>
      <span>{{$chip.data.name}}</span>
      <span>({{$chip.display | uppercase}})</span>
    </md-chip-template>
  </md-chips>
  <md-content class="md-whiteframe-3dp"
              style="padding: 20px"
              ng-hide="matchingCourses.length || loading">
    <h3 style="margin-top: 5px">Getting Started</h3>
    <p>NorseCourse is the new way to find your perfect schedule, created by students, for students.</p>
    <md-list>
      <md-divider></md-divider>
      <md-list-item>
        <div class="md-list-item-text" layout="column">
          <h4 style="margin-bottom: 0px">Step 1: Find some courses</h4>
          <p>Start typing terms above to search for courses. You can search by course name, department, gen ed, or just plain words. Once you've found some you like, click the "plus" to add them to your schedule.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <div class="md-list-item-text" layout="column">
          <h4 style="margin-bottom: 0px">Step 2: Refine your preferences</h4>
          <p>Now you can head over to the "Plan a schedule" tab to add further preferences, like specific sections of courses, gen eds you'd like to fulfill, and how many credits you want.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <div class="md-list-item-text" layout="column">
          <h4 style="margin-bottom: 0px">Step 3: Let us do the work</h4>
          <p>Hit search and we'll show you the schedules that meet your requirements. It's that easy.</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
  <md-progress-circular ng-hide="loading===null" 
                        md-mode="{{loading}}"
                        md-diameter="200">
  </md-progress-circular>
  <br/>
  <nc-course-list courses="matchingCourses"></nc-course-list>
</md-content>

