md-autocomplete input:not(.md-input) {
    /**
     * one of the md rules set this width to 200px,
     * which tended to cut off some text
     */
    width: 300px;
}

/** try to fix up the figcaption html **/
.layout-align-center-center>*, .layout-align-end-center>*, .layout-align-space-around-center>*, .layout-align-space-between-center>*, .layout-align-start-center>* {
    width: 100%;
    height: 100%;
}

.md-menu {
    float: right;
    align-items: center;
    padding: 0px 0;    
}

h2 {
    margin: auto;
}
md-grid-list md-grid-tile md-grid-tile-footer, md-grid-list md-grid-tile md-grid-tile-header {
    height: 65;
    
}

md-progress-circular {
    margin: auto;
}

.md-chips .md-chip-input-container md-autocomplete input{
    width: 400px;
}

md-grid-list md-grid-tile figure{
    padding: 0px;	
}
	  
