<md-content ng-controller="schedulePlannerController"
            layout-padding
            layout-padding-large>
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Schedule Preferences
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px;"
                   ng-click="getSchedules()">
          <md-icon class="md-48">search</md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="toggleExpanded('form')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='form'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='form'}"
                layout-padding>
      <form>
        <md-input-container>
          <label>Required Courses</label>
          <md-chips
             ng-model="requiredCourses"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="requiredCourse"
               md-search-text="requiredCourseQueryText"
               md-items="item in courseQuery(requiredCourseQueryText)"
               placeholder="DEPT ###"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.data.name}}</span>
            </md-chip-template>
          </md-chips>
        </md-input-container>
        
        <md-input-container>
          <label>Preferred Courses</label>
          <md-chips
             ng-model="preferredCourses"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="preferredCourse"
               md-search-text="preferredCourseQueryText"
               md-items="item in courseQuery(preferredCourseQueryText)"
               placeholder="DEPT ###"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.data.name}}</span>
            </md-chip-template>
          </md-chips>
        </md-input-container>

        <md-input-container>
          <label>Required Gen Eds</label>
          <md-chips
             ng-model="requiredGenEds"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="requiredGenEds"
               md-search-text="requiredGenEdQueryText"
               md-items="item in genEdQuery(requiredGenEdQueryText)"
               placeholder="Gen Ed"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.data.name}}</span>
            </md-chip-template>
          </md-chips>
        </md-input-container>
        
        <md-input-container>
          <label>Preferred GenEds</label>
          <md-chips
             ng-model="preferredGenEds"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="preferredGenEd"
               md-search-text="preferredGenEdQueryText"
               md-items="item in genEdQuery(preferredGenEdQueryText)"
               placeholder="Gen Ed"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template>
              <span>{{$chip.data.name}}</span>
            </md-chip-template>
          </md-chips>
        </md-input-container>
      </form>
    </md-content>
  </md-content>

  <br/>
  
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Results
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px"
                   ng-click="saveSchedule()"
                   ng-disabled="expanded !== 'results' || results.length === 0 || scheduleSaved()">
          <md-icon>
            add
          </md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="toggleExpanded('results')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='results'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-toolbar class="md-menu-toolbar"
                ng-show="expanded==='results' && results.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="loadPreviousSchedule()"
                   ng-disabled="currentScheduleIndex <= 0">
          <md-icon>
            chevron_left
          </md-icon>
        </md-button>
        <span flex></span>
        <h6>
          Schedule {{currentScheduleIndex + 1}} / {{results.length}}
        </h6>
        <span flex></span>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="loadNextSchedule()"
                   ng-disabled="currentScheduleIndex >= results.length - 1">
          <md-icon>
            chevron_right
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='results'}">
      <nc-section-list sections="currentSchedule"></nc-section-list>
    </md-content>
  </md-content>
  
  <br/>
  
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Saved Schedules
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px"
                   ng-click="removeSavedSchedule()"
                   ng-disabled="expanded !== 'saved' || savedSchedules.length === 0">
          <md-icon>
            remove
          </md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="toggleExpanded('saved')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='saved'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-menu-toolbar"
                ng-show="expanded==='saved' && savedSchedules.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="loadPreviousSavedSchedule()"
                   ng-disabled="currentSavedScheduleIndex <= 0">
          <md-icon>
            chevron_left
          </md-icon>
        </md-button>
        <span flex></span>
        <h6>
          Schedule {{currentSavedScheduleIndex + 1}} / {{savedSchedules.length}}
        </h6>
        <span flex></span>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="loadNextSavedSchedule()"
                   ng-disabled="currentSavedScheduleIndex >= savedSchedules.length - 1">
          <md-icon>
            chevron_right
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='saved'}">
      <nc-section-list sections="currentSavedSchedule"></nc-section-list>      
    </md-content>
  </md-content>
</md-content>
  
