<md-content ng-controller="schedulePlannerController"
            layout-padding
            layout-padding-large>
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Schedule Preferences
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px;"
                   ng-click="getSchedules()">
          <md-icon class="md-48">search</md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="toggleExpanded('form')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='form'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='form'}"
                layout-padding>
      <form>
        <md-input-container>
          <label>Courses</label>
          <md-chips
             class="course-chips"
             ng-model="prefs.courses"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="requiredCourse"
               md-search-text="requiredCourseQueryText"
               md-items="item in courseQuery(requiredCourseQueryText)"
               placeholder="Add a Course"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
                <span ng-if="item.data.title">- {{item.data.title}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template class="course-chips__template">
              <span class="course-chips__template__name">
                {{$chip.data.name}}
              </span>
              <md-input-container class="course-chips__template__required">
                <md-checkbox ng-model="$chip.required">Required</md-checkbox>
              </md-input-container>
              <span class="course-chips__template__filler"></span>
              <md-input-container class="course-chips__template__section">
                <md-select placeholder="Preferred Section"
                           ng-model="$chip.section">
                  <md-option ng-value="null">None</md-option>
                  <md-option ng-repeat="section in courseSections[$chip.data.courseId]"
                             ng-value="section"
                             class="section-option">
                    <span class="section-option__basic-info">{{section.name}}</span>
                    <span class="section-option__advanced-info">{{section.shortTitle}}</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="course-chips__template__required">
                <md-checkbox ng-model="$chip.section.required"
                             ng-disabled="!$chip.section">
                  Required
                </md-checkbox>
              </md-input-container>
            </md-chip-template>
          </md-chips>
        </md-input-container>

        <br/>
        
        <md-input-container>
          <label>Gen Eds</label>
          <md-chips
             ng-model="prefs.genEds"
             md-require-match="true">
            <md-autocomplete
               md-selected-item="requiredGenEds"
               md-search-text="requiredGenEdQueryText"
               md-items="item in genEdQuery(requiredGenEdQueryText)"
               placeholder="Add a Gen Ed"
               md-autoselect="true"
               md-no-cache="true">
              <md-item-template>
                <span>{{item.data.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-chip-template class="course-chips__template">
              <span class="course-chips__template__name">
                {{$chip.data.abbreviation}}
              </span>
              <md-input-container class="course-chips__template__required">
                <md-checkbox ng-model="$chip.required">Required</md-checkbox>
              </md-input-container>
            </md-chip-template>
          </md-chips>
        </md-input-container>

        <div>
          <md-input-container>
            <label>Minimum Credits</label>
            <input type="number"
                   min="0"
                   max="{{prefs.credits.max}}"
                   ng-model="prefs.credits.min"/>
          </md-input-container>

          <md-input-container>
            <label>Maximum Credits</label>
            <input type="number"
                   min="{{prefs.credits.min}}"
                   ng-model="prefs.credits.max"/>
          </md-input-container>
        </div>
        
      </form>
    </md-content>
  </md-content>

  <br/>
  
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Results
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px"
                   ng-click="saveSchedule()"
                   ng-disabled="expanded !== 'results' || results.length === 0 || scheduleSaved()">
          <md-icon>
            add
          </md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="toggleExpanded('results')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='results'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-menu-toolbar"
                style="border-top: 1px solid rgba(0, 0, 0, 0.2)"
                ng-show="expanded==='results' && results.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="previousSchedule()"
                   ng-disabled="currentScheduleIndex <= 0">
          <md-icon>
            chevron_left
          </md-icon>
        </md-button>
        <span flex></span>
        <span layout="row">
          <h6 ng-show="results.length">
            Schedule {{currentScheduleIndex + 1}} / {{results.length}}
          </h6>
          <h6 ng-show="!results.length">
            Loading Schedules
          </h6>
        </span>
        <span flex></span>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="nextSchedule()"
                   ng-disabled="currentScheduleIndex >= results.length - 1">
          <md-icon>
            chevron_right
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-progress-linear ng-show="resultsLoading.full" style="overflow: hidden; height: 1px;"></md-progress-linear>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='results'}">
      <md-progress-circular md-diameter="256"
                            ng-show="resultsLoading.initial">
      </md-progress-circular>
      <div style="padding: 20px;" layout="row" ng-show="error">
        <span flex></span>
        <span>
          <md-icon class="material-icons md-48 md-warn">sentiment_very_dissatisfied</md-icon>
          {{error}}
        </span>
        <span flex></span>
      </div>
      <nc-section-list sections="currentSchedule"></nc-section-list>
    </md-content>
  </md-content>
  
  <br/>
  
  <md-content class="md-whiteframe-3dp">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h6>
          Saved Schedules
        </h6>
        <span class="flex"></span>
        <md-button class="md-icon-button md-accent"
                   style="padding: 0px"
                   ng-click="removeSavedSchedule()"
                   ng-disabled="expanded !== 'saved' || savedSchedules.length === 0">
          <md-icon>
            remove
          </md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="toggleExpanded('saved')">
          <md-icon class="schedule-planner__toolbar__icon"
                   ng-class="{'schedule-planner__toolbar__icon--flipped': expanded=='saved'}">
            expand_more
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-menu-toolbar"
                style="border-top: 1px solid rgba(0, 0, 0, 0.2)"
                ng-show="expanded==='saved' && savedSchedules.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   style="padding: 0px;"
                   ng-click="previousSavedSchedule()"
                   ng-disabled="currentSavedScheduleIndex <= 0">
          <md-icon>
            chevron_left
          </md-icon>
        </md-button>
        <span flex></span>
        <h6>
          Schedule {{currentSavedScheduleIndex + 1}} / {{savedSchedules.length}}
        </h6>
        <span flex></span>
        <md-button class="md-icon-button"
                   style="padding: 0px"
                   ng-click="nextSavedSchedule()"
                   ng-disabled="currentSavedScheduleIndex >= savedSchedules.length - 1">
          <md-icon>
            chevron_right
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="schedule-planner__section"
                ng-class="{'schedule-planner__section--expanded': expanded==='saved'}">
      <nc-section-list sections="currentSavedSchedule"></nc-section-list>      
    </md-content>
  </md-content>
  <span ng-show="false" id="currentSavedScheduleIndex">{{currentSavedScheduleIndex}}</span>
  <nc-schedule-data schedules="savedSchedules"></nc-schedule-data>
</md-content>
  
