.schedule-planner {
    &__toolbar {
        &__icon {
            transition: transform 500ms ease;
            transform: rotate(0deg);
            &--flipped {
                transform: rotate(180deg);
            }
        }
    }
    
    &__section {
        height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        transition: height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        
        &--expanded {
            height: 300px;
        }
    }
}
