.course-chips {
    .md-chip {
        width: 100%;
    }
    
    .md-chip-content {
        height: 100%;
        width: 100%;
    }
    
    &__template {
        display: flex;
        height: 100%;
        
        &__name {
            width: 70pt;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__required {
            margin: 0px 20px 0px 0px;
            padding: 0px;
        }

        &__section {
            margin: 0px;
            padding: 0px;
            position: relative;
            bottom: 3px;
        }

        &__filler {
            flex-grow: 1;
        }
    }
}

.schedule-planner {
    &__toolbar {
        &__icon {
            transition: transform 500ms ease;
            transform: rotate(0deg);
            &--flipped {
                transform: rotate(180deg);
            }
        }
    }

    &__section-container {
        height: 48px;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }
    
    &__section {
        //height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        transition: height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, border-top 500ms ease;
        box-sizing: border-box;
        //border-top: 1px solid rgba(0, 0, 0, 0.0);
        //height: 300px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        
        md-autocomplete {
            margin-left: 12px;
        }

        &__details {
            align-items: flex-start;

            &__name {
                padding-top: 20px;
            }

            &__meeting {
                padding-top: 5px;
            }

            &__teachers {
                padding-top: 5px;
            }

            &__gen-eds {

            }
        }
    }
}

.md-select-value {
    .section-option {
        &__advanced-info {
            display: none;
        }
    }
}

.md-select-menu-container {
    .section-option {
        &__basic-info {
            display: none;
        }
    }
}
