<md-list>
  <md-list-item class="schedule-planner__section__details"
                ng-repeat="section in sectionObjects"
                layout="column">
    <p class="schedule-planner__section__details__name">
      <b>{{section.name}}</b> {{section.shortTitle}}
    </p>
    <p class="schedule-planner__section__details__meeting"
       ng-repeat="meeting in section.sectionMeetings">
      Meets {{meeting.days}} {{formatTime(meeting.startTime)}} - {{formatTime(meeting.endTime)}} in {{meeting.room[0].buildingName}} {{meeting.room[0].number}} {{section.sevenWeeks === 1 ? 'for the first seven weeks' : section.sevenWeeks === 2 ? 'for the second seven weeks' : ''}}
    </p>
    <p class="schedule-planner__section__details__teachers">
      Taught by <span ng-repeat="teacher in section.faculty">{{teacher.firstInitial}}. {{teacher.lastName}} {{!$last ? ', ' : ' '}}</span>
    </p>
    <md-chips class="schedule-planner__section__details__gen-eds"
              ng-if="section.genEdFulfillments.length"
              ng-model="section.genEdFulfillments"
              readonly="true">
      <md-chip-template>
        {{$chip.abbreviation}}
      </md-chip-template>
    </md-chips>
    <md-chips ng-if="!section.genEdFulfillments.length"
              ng-model="section.genEdFulfillments"
              readonly="true"
              placeholder="This section fulfills no gen eds :(">
    </md-chips>
  </md-list-item>
</md-list>
